{% extends 'mail.html.twig' %}

{% block body %}

    <p>Для подтверждения регистрации перейдите по ссылке ниже:</p>

    {% set url = url('auth.signup.confirm', {'token': token}) %}

    <p><a href="{{ url }}">{{ url }}</a></p>

{% endblock %}
