@import "~@coreui/coreui/scss/coreui";
@import "~font-awesome/scss/font-awesome";

.nested-list-group {
  cursor: move;
  margin: .5em;
  padding: 0;

  li {
    list-style: none;
    margin: 1em;

    span {
      padding: .5em;
      border: 1px dashed;
    }

    ul {
      padding: 0;
    }
  }
}

.dropdown-menu {
  ul {
    padding: 0 1em;

    li {
      list-style: none inside;

      a {
        display: block;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
      }
    }
  }
}