{% extends 'admin.html.twig' %}

{% block title %}Административный раздел{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Главная</li>
    </ol>
{% endblock %}

{% block body %}

{% endblock %}