{% if role == 'ROLE_ADMIN' %}
    <span class="badge badge-success">{{ labels['ROLE_ADMIN'] }}</span>
{% elseif role == 'ROLE_USER' %}
    <span class="badge badge-primary">{{ labels['ROLE_USER'] }}</span>
{% endif %}