{% if status == 'active' %}
    <span class="badge badge-success">{{ labels['active'] }}</span>
{% elseif status == 'wait' %}
    <span class="badge badge-primary">{{ labels['wait'] }}</span>
{% elseif status == 'blocked' %}
    <span class="badge badge-secondary">{{ labels['blocked'] }}</span>
{% endif %}