<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Store admin panel{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <main class="main">
        {% block breadcrumbs %}{% endblock %}
        <div class="container-fluid">
            {% include 'parts/messages.html.twig' %}
            {% block body %}{% endblock %}
        </div>
    </main>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
