{% extends 'front.html.twig' %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb border-0 m-0">
        <li class="breadcrumb-item active">Главная</li>
    </ol>
{% endblock %}

{% block categories_submenu %}
    <div class="dropdown-menu" aria-labelledby="categories-dropdown">
        {{ category_menu() }}
    </div>
{% endblock %}

{% block body %}

{% endblock %}